footer{
    margin-top: 40px;

    position: relative;

    height: 38px;
    border-radius: 15px 15px 0px 0px;
    background-color: var(--color-main);
}

footer img{
    position: absolute;

    left: 30px;
    top: 12px;
}